<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://2.bp.blogspot.com/-ujddJNQ7hBU/T6LKuxhQsLI/AAAAAAAAFNU/RwdvAUH-D7c/s1600/mountains-wallpaper-6.jpg</string>
	<string>http://ashadeofpen.files.wordpress.com/2012/11/33.jpg</string>
	<string>http://www.komar.de/fileadmin/media/Fototapeten_Bilder/8-005_Rocky_Mountains_hd.jpg</string>
	<string>http://onebigphoto.com/uploads/2012/10/stunning-dolomites-mountains-italy.jpg</string>
	<string>http://asiagrace.com/photos/h/misty-mountains.jpg</string>
	<string>http://www.cybraryman.com/images/newyor1.jpg</string>
	<string>http://www.startupbootcamp.org/assets/images/blog/Blog%20Headers/New-York-City-Skyline.jpg</string>
	<string>http://www.tourificescapes.com/wp-content/uploads/2010/08/Los-Angeles-DT.jpg</string>
	<string>http://epicgames.com/files/area/seattle.jpg</string>
	<string>http://s3.pirillo.com/wp-content/uploads/2010/05/Seattle.jpg</string>
	<string>http://www.sanfrancisco.net/pictures/san-francisco.jpg</string>
	<string>https://lh5.googleusercontent.com/-TxSlvLqZdww/UTiPBvLCF7I/AAAAAAAAANk/dFJJUwm_R9s/s0/</string>
</array>
</plist>
